# Ignore compiled files
*.o
*.exe
*.class
*.dll

# Ignore build and temp files
/build/
/temp/
/raylib/
/include/
*.log

# Ignore IDE files
.vscode/
.idea/
.DS_Store

# Ignore Makefiles
Makefiles
Makefile

# Ignore Oscar Files.
/game
/hoxml.h
/raylib.h
/raytmx.h
/rlgl.h
/raymath.h

#build files.
/build/
*.o
*.exe
game

