# Ignore compiled files
*.o
*.exe
*.class
*.dll

# Ignore build and temp files
/build/
/temp/
/raylib/
/include/
*.log

# Ignore IDE files
.vscode/
.idea/
.DS_Store

# Ignore Makefiles
Makefiles
makefile